@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 10px;
}

/* Glass effect */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.input {
  @apply w-full p-2 bg-gray-800 rounded outline-none;
}

.btn {
  @apply bg-red-500 px-6 py-3 rounded-lg hover:bg-red-600;
}